<!DOCTYPE html>
<html lang="en" ng-app="calculator" ng-controller="CalculatorController">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Calculator</title>

        <script src="js/jquery-2.2.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/calculator.js"></script>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/site.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" ng-cloak>
                    <input
                        class="calc-input text-right"
                        value="{{ input }}"
                        readonly
                    />
                    <input
                        class="calc-output text-right"
                        value="{{ output }}"
                        readonly
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-6">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="backspace()"
                    >
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-6">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="clearInput()"
                    >
                        C
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('1')"
                    >
                        1
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('2')"
                    >
                        2
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('3')"
                    >
                        3
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput(' + ')"
                    >
                        +
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('4')"
                    >
                        4
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('5')"
                    >
                        5
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('6')"
                    >
                        6
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput(' - ')"
                    >
                        -
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('7')"
                    >
                        7
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('8')"
                    >
                        8
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('9')"
                    >
                        9
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput(' * ')"
                    >
                        x
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('0')"
                    >
                        0
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput('.')"
                    >
                        .
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="calculateInput()"
                    >
                        =
                    </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button
                        type="button"
                        class="btn btn-block"
                        ng-click="addInput(' / ')"
                    >
                        /
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>